* {
    box-sizing: border-box;
    margin: 0px;
}

.tudo-cadastroproduto {
    display: flex;
    flex-direction: column;


.muda{
border: none;
color: #000;
text-align: center;
}

.muda::placeholder{
    border: none;
    color: #000;
    }

    .escrever {
        padding: 10px 30px;
    }

    .escrever>a {
        padding: 0px 28px;
        font-size: 15px;
    }

    .escrever>h1 {
        margin: 20px 1px 0px 28px;
        font-size: 20px;
    }

    // #inputImagem {
     
    //     // border: 1px solid #ccc;
    //     padding: 10px;
    //     background-color: #f4f1e9;
    //     border-radius: 10px;
    //     text-align: center;
    //     font-size: 20px;
    //     text-align: center;
    //     display: flex;
    //     border: none;
    //     width: 417px;
    //     height: 450px;
    //     border-radius: 10px;
    //     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
   
    //   justify-content: center;
    //   align-items: center;
      
    //   }
      
    //   #inputImagem::placeholder {
     
    //     color: #999;
      
    //   }

    .custom-file-input-wrapper {
        position: relative;
        overflow: hidden;
  

 margin-right: 30px;
        
      }
      
      .custom-file-input-button {
text-align: center;
        padding: 8px 12px;
        cursor: pointer;
            border: none;
            width: 150px;
            font-size: 19px;
       
      }
      
      .input-file {
       
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }

    .input-css {
        text-align: center;

        // background-color: #f4f1e9;
        // border-radius: 10px;
        // text-align: center;
        // font-size: 20px;
        // text-align: center;
        // display: flex;
        // border: none;
        // width: 417px;
        // height: 450px;
        // border-radius: 10px;
        // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

        .input-css> {
            margin-left: 10px;
            font-family: Montserrat;
            font-size: 17px;
            font-weight: 600;
            line-height: normal;
        }
    }

    .input-orisontal1 {
        display: flex;
        flex-direction: row;
        padding: 10px 60px;
    }

    .direita-cadastroproduto-quadrado {
        justify-content: center;
        align-items: center;
        margin-right: 60px;
          background-color: #f4f1e9;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        text-align: center;
        display: flex;
        border: none;
        width: 417px;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .escrita-quadrado {

        background-color: #f4f1e9;
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
       
        border: none;
        width: 417px;
        height: 450px;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        .input-css {
            outline: none;
            font-size: 25px;
        }
    }

    .adicionar {
        display: flex;
        flex-direction: column;
    }

    .input-detalhes>h1 {
        text-align: start;
        font-size: 20px;
    }

    .input-nome>label {
        margin-left: 10px;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 600;
        line-height: normal;
    }

    .input-detalhes {
        margin-top: 15px;
    }

    .input-nome1 {
        background-color: #f4f1e9;
        border-radius: 18px;
        font-size: 15px;
        margin: 9px 8px;
        display: flex;
        border: none;
        padding: 15px;
        height: 39px;
        width: 87vh;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        font-weight: bolder;
        outline: none;
    }

    .input-nome2 {
        background-color: #f4f1e9;
        border-radius: 18px;
        font-size: 15px;
        margin: 9px 8px;
        display: flex;
        border: none;
        padding: 15px;
        height: 70px;
        width: 87vh;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        font-weight: bolder;
        outline: none;
    }

    .input-detalhes>label {
        margin-left: 10px;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 600;
        line-height: normal;

    }

    // .input-detalhes2 {
    //     display: content;
    //     flex-direction: column;
    // }

    .inputs2 {
        display: flex;
        flex-direction: row;
        gap: 16px;

    }

    .inputs3 {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 13px;
        justify-content: space-between;

    }

    .input-designer {
        font-size: 12px;
        margin-right: 19px;
        width: 160px;
    }

    .input-designer>label {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 5px;
        margin: 0px 4px;
    }

    .input-designer>select {
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        width: 160px;
        border-radius: 15px;
        margin-top: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .input-designer>button {
        background-color: transparent;
        border: none;
        margin-bottom: 40px;
        margin-left: 10px;
    }

    .input-categoria {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        margin-right: 19px;
        width: 160px;

        >button {
            background-color: transparent;
            border: none;
            margin-bottom: 40px;
        }
    }

    .input-categoria>label {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 5px;
        margin: 0px 4px;
    }

    .input-categoria>select {
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        border-radius: 15px;
        margin-top: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .input-estoque {

        font-size: 12px;
        margin-right: 19px;
        width: 1px;


        >label {
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 5px;
            margin: 0px 5px;
        }
    }

    .input-estoque>input {
        outline: none;
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        width: 180px;
        border-radius: 15px;
        margin-top: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .valores {
        display: flex;
        flex-direction: row;
    }
}



.cor {
    font-size: 12px;
    margin-right: 19px;
    width: 160px;
}

.cor>label {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
    margin: 0px 6px;
}

.custom-select1 {
    padding: 0px 10px;
    border: none;
    background-color: #f4f1e9;
    height: 40px;
    width: 25vh;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.cor>button {
    background-color: transparent;
    border: none;
    margin-bottom: 40px;
}

.tecido {
    font-size: 12px;
    margin-right: 19px;
    width: 160px;
}

.tecido>label {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5px;
    margin: 0px 5px;
}

.custom-select5 {
    padding: 0px 10px;
    border: none;
    background-color: #f4f1e9;
    height: 40px;
    width: 25vh;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;

}

.tecido>button {
    background-color: transparent;
    border: none;
    margin-bottom: 40px;
}


.tamanho {
    font-size: 12px;
    margin-right: 19px;
    width: 160px;

    .button-designer {
        background-color: transparent;
        border: none;
        margin-bottom: 40px;
        color: #000;
    }

    .custom-select6 {
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        width: 19vh;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

}

.tamanho>label {
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 88px;
    margin: 0px 5px;
}

.inputs4 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: -4px;

    .valor-produto {
        font-size: 12px;
        margin-right: 19px;
        width: 160px;
    }

    .valor-produto>label {
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 88px;
        margin: 0px 5px;
    }

    .valor-produto>input {
        outline: none;
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        width: 180px;
        border-radius: 15px;
        margin-top: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

    .valor-promocional-produto {
        font-size: 12px;
        width: 200px;
        margin-left: 19px;
    }

    .valor-promocional-produto>label {
        font-family: 'Montserrat';
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0px 7px;
    }

    .valor-promocional-produto>input {
        outline: none;
        padding: 0px 10px;
        border: none;
        background-color: #f4f1e9;
        height: 40px;
        width: 180px;
        border-radius: 15px;
        margin-top: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    }

}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: 30px;
    padding: 10px 59px;
}

.checkbox>label {
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
}   


.faixa-lista {
    // display: flex;
    // justify-content: center;
    // margin-left: 54px;
    // width: 1250px;

margin-top: 35px;
margin-bottom: 39px;
padding-left: 23px;
padding-right: 18px;


thead {
    // justify-content: center;
    // margin-left: 4em;
    // justify-content: center;
    // text-align: center;;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    // margin-bottom: 30px;
    // margin-left: 144px;



    > tr {
        width: 100%;
        // height: auto;
        margin-bottom: 6px;
        // justify-content: space-around;
        //   margin-left: 28px;


        th {
            font-size: 10px;
            background-color: #e6e6e6;
        }

 }

}

 table {

    max-width: 100vw;
    width: 100%;
    height: 450px;

    box-shadow: inset 0px 0px 14px -6px  rgb(223, 223, 222);
    overflow-x: scroll;
    overflow-y: scroll;
    text-align: center;
    background-color: #fcfbfb;
    border-radius: 17px;

    tbody {
      
        // overflow-x: hidden;
      
        // border-radius: 17px 0px 0px 0px;
        // margin-left: 99px;
        // margin-top: 20px;

        width: 100%;


        tr {
            height: 70px;
            align-items: center;
            margin-bottom: 10px;
            justify-content: space-between;
            margin-left: 7px;
            width: 100%;
           
    

           td {
                // height: 0px;
                font-family: 'montserrat';
                font-size: 10px;
                color: #000;
                padding-top: 19px;
                // text-align: justify;

                button {
                    border: none;
                    background-color: #bcb5a2;
                    color: rgb(247, 247, 247);
                    font-family: 'montserrat';
                    padding: 5px 5px 5px 5px;
                    border-radius: 15px;
                    cursor: pointer;
                }

                img {
                    width: 90px;
                    height: 90px;

                }
            }


         
            

            // div {
            //     display: flex;
            //     flex-direction: row;
            //     margin-left: 3em;
            //     width: 70em;
            //     margin-top: 30px;
            //     // justify-content: center;

            //     // display: block;
            //     // // width: 70em;
            //     // // height: 200px;
            //     // overflow-y: scroll;
            //     // scroll-behavior: smooth;

            
            // }
        }

    }

}

}


// .hr {
//     width: 1172vh;
//     height: 1px;
//     background: rgba(0, 0, 0, 0.25);
// }

.hr {
    width: 1172vh;
    height: 1px;
    background: rgba(0, 0, 0, 0.25);
}

.botoes-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0px;
    gap: 30px;

    #branco {
        background-color: #fff;
        border: transparent;
        border: none;
        width: 159px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.22);
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    }

    #preto {
        background-color: #000;
        border: transparent;
        border: none;
        color: #fff;
        width: 159px;
        height: 40px;
        border-radius: 10px;
        background: rgba(33, 23, 21, 0.92);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
cursor: pointer;
    }

   
      
      
}