* {
    box-sizing: border-box;
    margin: 0px;
  }
  
  
  @font-face {
    font-family: 'kronaone';
    src: url('../../../../public/assets/fonts/krona-one/KronaOne-Regular.ttf');
  }
    
  @font-face {
    font-family: 'raleway';
    src: url('../../../../public/assets/fonts/static/Raleway-Regular.ttf');
  }
  
  @font-face {
    font-family: 'imprima';
    src: url('../../../../public/assets/fonts/imprima/Imprima-Regular.ttf');
  }

  
  @font-face {
    font-family: 'kodchasan';
    src: url('../../../../public/assets/fonts/Kodchasan/Kodchasan-Regular.ttf');
  }
  
  @font-face {
    font-family: 'montserrat';
    src: url('../../../../public/assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
  }
  
  
  .container-produtos {
    // 
    // .carousel-container {
    //   display: flex;
    //   overflow: hidden;
    // }
  
    // .carousel-slide {
    //   flex: 0 0 100%;
    //   transition: transform 0.5s;
    // }
  
    // .carousel-slide img {
    //   width: 100%;
    //   height: auto;
    // }
 
    
    .imagem-do-slide {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }

    button {
      margin: 10px;
    }
    .faixa-ordem {
     
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between ;
      align-items: center;
     padding: 0px 40px;
    }
  
    .faixa-ordem > p {
      font: 15px "montserrat";
    }
  
    .secao-container-ordem {
      width: 100%;
      height: 30vh;
    }
  
    .secao-ordem {
      display: flex;
      flex-direction: row;
      font: 15px "montserrat";
      align-items: center;
      justify-content: center;
    }
  
    .images {
      margin-top: 5px;
      margin-left: 18px;
    }
  
    .images > img {
      width: 15px;
     
    }
  
    .secao-container-produtos {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
   
    }
  
    .secao-container-filtros {
      display: flex;
      flex-direction: column;
      padding: 0px 50px;
    }
  
    .secao-container-filtros > h6 {
      font: 16px "montserrat";
      margin-bottom: 30px;
      padding: 0px 20px;
      
    }
  
    .secoes {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
  
    .secoes > p {
      font: 12px "montserrat";
    }
  
    .secoes a {
      font: 13px 'montserrat';
      margin: 5px;
    }
  
    .secoes > h6 {
      text-align: start;
      font: 15px "montserrat";
      margin-bottom: 30px;
      padding: 0px 15px;
      font-weight: bold;
    }
  
  
  
    .secoes-quadrado {
      display: flex;
      align-items: center;
    }
  
    .quadrado {
      border-radius: 2px;
      width: 12px;
      height: 12px;
      border: 1px solid #000;
    }
  
    hr {
      text-align: center;
      height: 140vh;
      margin-left: 30px;
    }
  
    /* me perdi */
  
    .secao-produto {
  
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
    }
  
    .produtos {
      padding: 30px 50px;
      display: flex;
      flex-direction: row;
    }
  
    .produto-pair {
      display: flex;
      
      flex-wrap: wrap;
    }
    
    .produto-pair-res{
      display: none;
    }
  
    .produto {
      text-align: center;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(40% - 10px);
  
    }
  
    .produto > img {
      width: 250px;
      border-radius: 5px;
    }
  
    .produto > p {
      font: 18px "montserrat";
      margin-bottom: 10px;
    }
  
    #fixado {

      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      text-decoration: none !important;
    }
  
    .produto:hover #fixado {
      visibility: visible;
      text-decoration: none !important;
    }
  
    .produto > h1 {
      font-size: 18px;
      font-family: 'montserrat';
      margin-bottom: 10px;
      margin-top: -25px;
    }
  
    .produto > p {
      font: 15px "montserrat";
      margin-bottom: 10px;
    }
  
    .reticencias {
      flex-basis: 100%;
      text-align: center;
      margin-top: 20px;
    }
  
    .reticencias > p {
      margin-top: -50px;
      font: 18px "montserrat";
      text-align: center;
    }
  
    #fixado {
      font: 15px "montserrat";
      background-color: rgba(255, 255, 255, 0.6980392157);
      height: 35px;
      position: relative;
      top: -35px;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(0, 0, 0);
    }
  
    .reticencias {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      animation: reticencias 1s infinite steps(4);
    }
  
    @keyframes reticencias {
      0% {
        content: " ";
      }
  
      25% {
        content: ".";
      }
  
      50% {
        content: "..";
      }
  
      75% {
        content: "...";
      }
    }
  }
  
  @media (max-width: 1000px) {
    .faixa-ordem {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: auto;
    }
  
    #titulo-ordem {
      font-size: 10px;
    }
  
    #baixo {
      width: 10px;
    }
  
    #cima {
      width: 10px;
    }
  
    .secao-container-produtos {
      display: flex;
     
    }
    #filtroSecoes {
     
    }
    #filtra {
    font-weight: bold;
  margin-bottom: 10px;
    }
  
    hr {
  
    }
    #imagem-produto {
      width: 130px;
    }
  
    .secao-produto {
      display: flex;
      flex-wrap: wrap;
    
    
    }
  
    .container-produtos {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  .secao-container-filtros {
    width: 30%; 
  }
  
  
  
  .produto{
    margin-right: 39px;
   
  
    #nome-produto{
  
      font-size: 12px;
    }
  }
  
  }
  
  // ..........................................
  
  @media (max-width: 400px) {
    .menu-img{
        img{
            width: 10px;
        }
     
    }
    .img1-cab1{
    width: 20px;
    }
  
    .container-produtos .secao-container-filtros {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
   
    .container-produtos #fixado {
     padding: 5px;
      width: 80px;
      height: 5vh;
      
  }
  
  .container-produtos #fixado {
    font: 10px "font2";
    position: relative;
  top: -27px;
    margin-bottom: 10px;
    
  }
  
  .container-produtos .produto {
  
    width: 200px;
  }
  
  .container-produtos .produto > p {
    font: 10px "montserrat";
    
  }
    
  .container-produtos .produto {
   
    width: 100px;
  }
  
  #imagem-produto {
    width: 80px;
  }
  
   .faixa-ordem {
  
    padding: 0px 10px !important;
    #titulo-ordem{
      font-size: 10px;
  
    }
  
    #baixo{
      width: 10px;
    }
  
    #cima{
      width: 10px;
    }
  }
  
  .secao-container-filtros{
    #filtra{
      font-size: 10px;
    }
  
    .quadrado {
      border-radius: 2px;
      width: 9px;
      height: 9px;
      border: 1px solid #000;
  }
  
  .secoes a {
    font: 10px "montserrat";
    margin: 5px;
  }
  
   .secoes > h6 {
    text-align: start;
    font: 10px "montserrat";
   margin-bottom: 3px;
  }
  }
  
  .container-produtos .produtos {
     padding: 0px 20px; 
    display: flex;
    flex-direction: row;
  }
  
  .container-produtos hr {
  height: 100vh;
    margin-left: 20px;
   
  }
  
  .produto #nome-produto {
    font-size: 8px;
    margin-bottom: -1px;
  }
    }