* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'kronaone';
  src: url('../../../../public/assets/fonts/krona-one/KronaOne-Regular.ttf');
}

@font-face {
  font-family: 'raleway';
  src: url('../../../../public/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'imprima';
  src: url('../../../../public/assets/fonts/imprima/Imprima-Regular.ttf');
}

@font-face {
  font-family: 'imprima2';
  src: url('../../../../public/assets/fonts/Imprima2/Imprima-Regular.ttf');
}


@font-face {
  font-family: 'kodchasan';
  src: url('../../../../public/assets/fonts/Kodchasan/Kodchasan-Regular.ttf');
}

@font-face {
  font-family: 'montserrat';
  src: url('../../../../public/assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
}


.painel-adm {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  .cabecalho-painel.direita {
    transform: translateX(200px);
    max-width: 100%;
  }

  .cabecalho-painel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f5f1e9;
    width: 100vw;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;

  }

  .painel {
    display: flex;
    flex-direction: row;

    .container {
      display: flex;
      flex-direction: column;
      padding: 0px 50px;
    }
  }

  .teste {
    display: flex;
    flex-direction: row;
  }

  .cabecalho-painel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f5f1e9;
    width: auto;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  }

  .menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .menu-icon>img {
    width: 50px;
    margin-right: 10px;
  }

  .menu-icon>p {
    font-family: 'kronaone';
  }

  .alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .alerta>img {
    margin: 10px;
    width: 30px;
  }

  .admin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .admin>img {
    width: 40px;
    margin-right: 10px;
  }

  .menu-infos {
    width: 200px;
    display: flex;
    align-self: center;
    margin-left: 40px;
    flex-direction: column;
    padding: 50px 0px;
  }

  .menu-infos>img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
    margin-bottom: 50px;
    border-radius: 100%;
    height: 95px;
    padding: 2px 10px;
    box-shadow: inset 15px -25px 20px #b7a59885;
  }

  .atelie {
    width: 20px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  .menu>h5 {
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'imprima';
  }

  .menu>a {
    font-size: 15px;
    width: 100px;
    text-decoration: none;
    margin-top: 15px;
    color: black;
    margin-bottom: 5px;
  }

  .menu1 {
    cursor: pointer;
  }

  .menu1:hover+.menu-infos-container {
    transform: translateX(0);
  }

  .menu-infos-container {
    position: absolute;
    top: 0;
    background-color: #b7a598a2;
    height: 75vh;
    width: 200px;
    transition: transform 0.1s;
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .container-painel {
    width: 100%;
  }

  .topo {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 70px;
    width: 100%;
    // margin-left: 100px;
  }

  .claro {
    background-color: #dfcece;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    width: 239px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin-right: 30px;

  }

  .claro>h1 {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'kronaone';
  }

  .claro>h2 {
    font-size: 15px;
  }

  .escuro {
    background-color: #1d1710;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    width: 239px;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    margin-right: 30px;
  }

  .escuro>h1 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-family: 'kronaone';
  }

  .escuro>h2 {
    font-size: 15px;
    color: #fff;
  }

  .grafico {
    display: flex;
   
    align-items: center;
    height: 40vh;
   width:80%;
    display: flex;
    margin-top: 20px;
    background-color: #dfcece6c;
    justify-content: center;
    margin-left: 120px;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .grafico>img {
    width: 700px;
    // min-width: 450px;
  }

  .graficos {
    display: flex;
    width: 100%;
    min-width: 30%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    width: 927px;
    background-color: #d5cec6;
    padding: 10px 10px 10px 10px;
    margin-left: 120px;
    margin-bottom: 30px;
    box-shadow: 1px 3px 3px 3px rgba(0, 0, 0, 0.2);
  }

  .redondo {
    background-color: #dfcece6c;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .redondo>img {
    width: 25vw;
  }

  .circulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circulo>img {
    width: 20vw;
  }
}

@media (max-width: 600px) {

 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
  }

  .topo {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }



  .painel-adm .claro {
    background-color: #dfcece;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
    width: 200px;
   height: 10vh
  
}

.painel-adm .escuro{
  
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
  width: 200px;
 height: 10vh

}


.graficos {
    padding: 20px;
  }

  .claro {
    margin: 10px;
    
  }

  .claro h1,
  .escuro h1 {
    font-size: 8px;
  }

  .painel-adm .grafico > img {
    width: 400px;
}

  .painel-adm .grafico {
    display: block;
    width: 450px;
    height: 20vh;
   }
}

@media (max-width: 400px) {

  .painel-adm .claro > h1 {
    font-size: 11px;
  
}

.painel-adm .claro > h2 {
  font-size: 11px;

}

.painel-adm .escuro > h1 {
  font-size: 11px;

}

  .painel-adm .cabecalho-painel {


.admin > img{
width: 20px;
}

.menu1 > p{
  font-size: 12px;
}

  img{
    width: 30px;
  }
}

  .painel-adm .painel .container {
    padding: 0px 0px;
}

.topo {

  display: flex;
  flex-wrap: wrap;
}

.painel-adm .claro {
  width: 150px;
  height: 10vh;
  margin-top: 10px;
  padding: 10px;
;
}

.painel-adm .escuro {
  width: 150px;
  height: 10vh;
  margin-top: 10px;
  padding: 10px;
}

.topo{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.painel-adm .topo {
  display: flex;
  align-items: center;
justify-content: center;
align-self: center;

}

.painel-adm .grafico > img {
  width: 300px;

}

.painel-adm .grafico {
 display: block;
 width: 400px;
 height: 25vh;
}

.divide{
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;  
}

}