*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.page-login-adm{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url('../../../public/assets/images/pessoas-negocio-apertar-mao-junto.jpg');
background-repeat: no-repeat;
background-size: 110% 105%;
background-position: -7px -5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;

    .login-adm{
       
    display: flex;
    justify-content: center;
    align-items: center;

    }

    .adm{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 500px;
        width: 500px;
        margin-right: 60px;
    }

    .adm > h1 {

color: #F5ECDE;
width: 250px;
    }

    .login{
        background-color: hsl(0, 0%, 100%, 0.8) ;
        
        height: 500px;
        width: 500px;
        display: flex;
        align-items: center;
        flex-direction: column;
padding: 70px;
    }

    .login>h1{
        margin-bottom: 5px;

    }
    .login-inputs{
        display: flex;
        flex-direction: column;
    }

   .login-inputs-email{
    height: 45px;
    width: 240px;
    padding: 4px 10px;
margin-bottom: 40px;
background-color: #FFF;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
   }

   .login-inputs-email>label{
    font-size: 13px;
    margin-bottom: 6px;
   }
   .login-inputs-email>input{

    display: flex;
    flex-direction: column;
    border: none;
   outline: none;
   }

   .login-inputs-senha{
    height: 45px;
    width: 240px;
    padding: 4px 10px;
margin-bottom: 40px;
background-color: #FFF;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: column;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  
   }

   .login-inputs-senha>label{
    font-size: 13px;
    margin-bottom: 6px;
   }
   .login-inputs-senha>input{

    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
   }
   .login>button{
    background-color: #201B14;
    padding: 9px 46px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
   }

   hr{
    border: 1px solid #000000;
    width: 200px;
    margin-bottom: 45px;
   }
   .erri{
    font-size: 15px;
    margin-top: 15px;
  font-family: 'Courier New', Courier, monospace;
   }

   @media (max-width: 600px) {
    
    .page-login-adm{
        display: flex;
        flex-wrap: wrap;
    }

    .login{
        display: flex;
    }
   }
}

