@font-face {
  font-family: 'montserat';
  src: url('../../../../public/assets/fonts/Montserrat/static/Montserrat-Medium.ttf');
}



.pag-item {

  background-color: #ffff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .container {
   
      display: flex;
      flex-direction: column;

      .temapag {
        
        padding: 30px;
        > p {
          width: 211px;
          height: 26px;
          margin-left: 65px;
          margin-top: 95px;
          margin-bottom: 75px;
          font-family: 'Montserrat', sans-serif;
          font-size: '';
          color: #211715;
          text-align: center;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
      
          > span {
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
          }
        }
      }

    .faixa1  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1200px;
      height: 700px;
      padding: 0px 40px ;
      
     
      
      .imagens {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 15px;
        width: 650px;
        height: 600px;
       
      
      
       .imgprincipal {
          display: flex;
          margin-left: 10px;
          flex-direction: column;
          border-radius: 7px;

        > .short {
          width: 407px;
          height: 500px;
          height: px;
          border-radius: 7px;

          
        }

        .esfera-vector {
          display: flex;
          flex-direction: row;
          width: 140px;
          margin-left: 130px;
          margin-top: 19px;
          justify-content: space-around;
          


        .bolinha {
          width: 19px;
          height: 19px;
          color: #D2D1D1;
        }
        } 
      }

       .quadros {
        display: flex;
        flex-direction: column;
        margin-right: 18px;
    
       > .shortpeq {
          width: 141px;
          height: 150px;
          border-radius: 7px;
        }

  
        .quadrado {
          width: 141px;
          height: 139px;
          background-color: #B7A598;
          border-radius: 7px;
          margin-top: 30px;
          margin-bottom: 6px;
        }
      
       }
    }

    .descricao {
      display: flex;
      flex-direction: column;
      height: 490px;
      justify-content: center;

   
    > h2 {
      color: #211715;
      font-size: 27px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      font-family: 'Montserrat', sans-serif;

      }

      > p {
        width: 494px;
        height: 26px;
        color: #211715;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px; 
       
      }

      .bold {
        color: #211715;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: 278px;
        margin-top: 59px;
        

      }

       > h3 {
        color: #211715;
        font-family: 'Montserrat', sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      
        

        span {
          color: #211715;
          font-family: 'Montserrat', sans-serif;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }

    }

    .botaocompra {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 500px;
      margin-top: 120px;


      .compras {
        width: 500px;
        text-align: center;

        .comprar {
          border-radius: 18px;
          border: none;
          background-color:#B7A598;
          width: 170px;
          height: 52px;
          font-family: 'montserat';
          color: white;
          font-weight: 600;
          
         
          button {
              border-radius: 15px;
          }
        
         p {
          display: flex;
          justify-content: center;
          font-size: 17px;
          letter-spacing: 4px;
          color: white;
          font-family: 'montserat';
          font-weight: 700;
        }
        
          
        }

        .quant {
          border-radius: 0px 18px 18px 0px;
          border: 1px solid #B7A598;
          background-color: #ffff;
          width: 130px;
          height: 52px;
         
          > p {
            display: flex;
            justify-content: center;
            font-size: 16px;
            letter-spacing: 10px;
            color: black;
            font-style: bold;
            font-weight: 700;
        
          }
        }
      }
   
     .favsacola {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 210px;
        
        .sacola {
          width: 70px;
          height: 50px;
          background-color: #B7A598;
          border: none;
          border-radius: 15px;

          > img {
          width: 43px;
          height: 49px;

          }
        }

        .favorito {
          width: 70px;
          height: 50px;
          background-color: #B7A598;
          border: none;
          border-radius: 15px;

          > img {
            width: 40px;
            height: 50px;

        }
     }
    }
    }

      }

      .faixa2 {
margin-bottom: 30px;
        .avaliacao {
          display: flex;
          flex-direction: column;
          
          width: 100%;
      
          .texto {
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-between; 
            width: 109%;
            
            

            .esq {
              font-size: 21px;
              width: 458px;
              height: 23px;
              margin-left: 59px;
              color:#211715;
              font-family: 'montserrat';
              font-weight: 500;

            }

            .dir {
              font-size: 21px;
              margin-left: 130px;
              width: 458px;
              height: 23px;
              color:#B7A598;
              font-family: 'montserrat';
              font-weight: 500;

            }

          }

          .divisoria {
            display: flex;
            justify-content: center;

          .linha {
            width: 90%;
            border-bottom: 1px solid #846468;
          }
        }
          }

          .comentario {
            margin-top: 90px;
            margin-left: 120px;
            display: flex;
            flex-direction: row;
            width: 900px;
            

            .user {
              display: flex;
              flex-direction: column;
              margin-right: 40px;
            
            .icon-user {
              width: 80px;
              height: 80px;
            }

            > p {
              font-size: 21px;
              font-family: 'montserrat';
              
            }
            
            
            }

            .quadrocoment {
            
              margin-top: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            > p{
              padding: 20px 40px;
           font-family: 'Courier New', Courier, monospace;
              border: none;
              width: 400px;
              height: 100px;
              background-color: #cabdb3;
              border-radius: 0px 10px 10px 10px;
            }
            }


          }


        }

      }

    }
    
  


