@font-face {
    font-family: 'montserrat';
    src: url('../../../../public/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'monda';
    src: url('../../../../public/assets/fonts/Monda/Monda-Regular.ttf');
}

.pag-relatoriosadm {

    box-sizing: border-box;
    margin: 0px;

    .content-relatoriosadm {

        display: flex;
        flex-direction: column;

        padding: 75px;

        >a {

            color: black;

            text-decoration: none;

            margin-bottom: 50px;

            >h3 {

                font-family: 'monda';

            }

        }

        .graficos-relatoriosadm {


            border: 2.5px #21171525 solid;
            border-radius: 15px;

            padding-bottom: 50px;

            .faixamarrom-relatoriosadm {

                display: flex;
                justify-content: center;
                align-items: center;

                background-color: #211715;

                width: 100%;

                max-width: 100%;

                padding: 25px;

                border-radius: 15px 15px 0px 0px;

                >h1 {

                    color: #fff;

                    font-family: 'montserrat';

                    letter-spacing: 7px;

                }

            }

            .resto-relatoriosadm {

                padding: 50px;

                .filtros-relatorioadm {

                    display: flex;
                    flex-direction: row;

                    margin-bottom: 50px;

                    >h4 {

                        font-family: 'monda';

                        margin-right: 25px;

                    }

                    >select {

                        background-color: #0000000c;

                        border-radius: 15px;

                        padding: 5px;

                        font-family: 'monda';

                    }

                }

                .imagens-relatorioadm {

                    display: flex;
                    flex-direction: row;
                    // width: 600px;
                    justify-content: space-between;
                    padding-left: 100px;

                    >img {

                        height: 400px;
                        width: 400px;
                        margin-right: 100px;

                    }

                }

            }

        }

    }


}

@media (max-width:720px) {

    .pag-relatoriosadm {
        .content-relatoriosadm {

            .graficos-relatoriosadm {


                .faixamarrom-relatoriosadm {

                    width: 569px !important;

                    max-width: 569px !important;

                }


                    .resto-relatoriosadm {

                        .imagens-relatorioadm {

                            display: flex ;
                            flex-direction: column;

                            padding-left: 50px;

                        }

                    }

                

            }

        }

    }

}


@media (max-width: 360px) {

    .pag-relatoriosadm {

        .content-relatoriosadm {

            >a {

                color: black;

                text-decoration: none;

                margin-bottom: 50px;

                >h3 {

                    font-family: 'monda';
                    font-size: 12px;

                }

            }

            .graficos-relatoriosadm {

                .faixamarrom-relatoriosadm {


                    max-width: 208px !important;


                    >h1 {

                        font-size: 16px !important;

                    }

                }

                .resto-relatoriosadm {

                    padding: 50px;

                    .filtros {

                        display: flex;
                        flex-direction: column;

                        >h4 {

                            margin-bottom: 25px;

                            font-size: 12px;
                        }

                        >select {

                            padding: 0px;

                            font-size: 12px;

                        }

                    }

                    .imagens-relatorioadm {

                        display: flex;
                        flex-direction: column;

                        padding: 0px 0px 0px 0px !important;

                        >img {

                            height: 150px;
                            width: 150px;

                        }

                    }

                }

            }

        }


    }

}