@font-face {
    font-family: 'montserrat';
    src: url('../../../../public/assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'monda';
    src: url('../../../../public/assets/fonts/Monda/Monda-Regular.ttf');
}


.pag-consultapsadm {

    box-sizing: border-box;
    margin: 0px;

    .content-consultapadm {

        display: flex;
        flex-direction: column;

        padding: 75px;

        >a {

            color: black;

            text-decoration: none;

            margin-bottom: 50px;

            >h3 {

                font-family: 'monda';

            }

        }


        .corpo-consultapadm {


            border: 2.5px #21171525 solid;
            border-radius: 15px;

            .botoes-consultapadm {

                display: flex;
                flex-direction: row;
                align-items: center;


                .botao-esquerda-consultapadm {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 50px;

                    height: 100%;
                    width: 50%;


                    button {

                        border: transparent;
                        background-color: transparent;

                        font-family: 'monda';
                        font-size: 24px;

                        letter-spacing: 3px;



                    }


                }

                .botao-esquerda-consultapadm:hover {

                    border-radius: 15px 0px 0px 0px;

                    background-color: #211715;

                    cursor: pointer;

                    button {

                        color: #fff;

                    }

                }


                .botao-direita-consultapadm {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 50px;

                    height: 100%;
                    width: 50%;


                    button {

                        border: transparent;
                        background-color: transparent;

                        font-family: 'monda';
                        font-size: 24px;

                        letter-spacing: 3px;



                    }


                }

                .botao-direita-consultapadm:hover {

                    border-radius: 0px 15px 0px 0px;

                    background-color: #211715;


                    button {

                        cursor: pointer;

                        color: #fff;

                    }

                }


            }

            .content-consultapadm {

                padding: 50px;


                .filtros-consultapadm {


                    display: flex;
                    flex-direction: row;

                    margin-bottom: 50px;


                    >h4 {

                        font-family: 'monda';

                        margin-right: 25px;

                    }

                    >select {

                        background-color: #0000000c;

                        border-radius: 15px;

                        padding: 5px;

                        font-family: 'monda';

                    }



                }


                .produtos-consultados-consultapadm {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    border: 2.5px #21171525 solid;
                    border-radius: 15px;

                    width: 1000px;
                    max-width: 100%;

                    overflow-y: scroll;


                    .titulos-consultapadm {


                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        padding-top: 20px;

                        background-color: #fff;

                        >h4 {

                            font-family: 'montserrat';

                            margin-right: 45px;

                        }

                        .final-consultapadm {

                            margin-right: 0px;

                            font-weight: 700;

                        }

                    }


                    .linha-consultapadm {

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        margin-top: 15px;

                        
                        
                        width: 900px;
                        height: 1px;

                        max-width: 900px;
                        max-height: 1px;

                        background-color: #84646867;

                    }

                    .results-consultapadm{
                        
                        padding-top: 15px;
                        padding-bottom: 15px;
                        padding-left: 100px;



                        height: 300px;
                        width: 1000px;
                        max-width: 100%;

                        .result1{

                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-top: 13px;

                            >p{

                                width: 75px;
                                max-width: 75px;
                                
                                margin-right: 55px;

                            }

                            >div{

                                width: 100px;
                                max-width: 100px;

                                img {
                                    width: 50px;
                                    height: 50px;
                                }



                                .sublinhado{

                                    text-decoration: underline;

                                }

                            }

                            .colorido{

                                color: #40532ce7;

                                margin-right: 0px;

                            }

                        }


                        .result2{

                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;

                        }


                    }

                    .results-consultapadm ul{

                        overflow: auto;

                    }

                }


            }

        }
    }

}

@media (max-width: 720px) {
    
    .results-consultapadm{

        overflow-x: scroll;

    }

}


@media (max-width: 360px) {
    
    .content-consultapadm {

        display: flex;
        flex-direction: column;

        padding: 75px;

        >a {

            color: black;

            text-decoration: none;

            margin-bottom: 50px;

            >h3 {

                font-family: 'monda';
                font-size: 12px;
            }

        }


        .corpo-consultapadm {

            .botoes-consultapadm {

                .botao-esquerda-consultapadm {

                    padding: 15px;

                    height: 100%;
                    width: 50%;


                    >button {

                        font-size: 12px !important;

                        letter-spacing: 1px !important;

                    }


                }

                .botao-esquerda-consultapadm:hover {

                    border-radius: 15px 0px 0px 0px;

                    background-color: #211715;

                    cursor: pointer;

                    button {

                        color: #fff;

                    }

                }


                .botao-direita-consultapadm {

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    padding: 50px;

                    height: 100%;
                    width: 50%;


                    button {

                        font-size: 12px !important;

                        letter-spacing: 1px !important;


                    }


                }

                .botao-direita-consultapadm:hover {

                    border-radius: 0px 15px 0px 0px;

                    background-color: #211715;


                    button {

                        cursor: pointer;

                        color: #fff;

                    }

                }


            }
        
            .content-consultapadm{

                .filtros-consultapadm {

                    display: flex;
                    flex-direction: column !important;

                    >h4 {

                        margin-bottom: 25px;

                        font-size: 12px;
                    }

                    >select {

                        background-color: #0000000c;

                        border-radius: 15px;

                        padding: 0px !important;

                        font-size: 12px;

                    }

                }


            }

            
        }



    }

}